/* GENERAL CSS */
@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Regular.woff2') format('woff2'),
        url('../fonts/Mulish-Regular.woff') format('woff'),
        url('../fonts/Mulish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish-semi-bold';
    src: url('../fonts/Mulish-SemiBold.woff2') format('woff2'),
        url('../fonts/Mulish-SemiBold.woff') format('woff'),
        url('../fonts/Mulish-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish-bold';
    src: url('../fonts/Mulish-Bold.woff2') format('woff2'),
        url('../fonts/Mulish-Bold.woff') format('woff'),
        url('../fonts/Mulish-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish-light';
    src: url('../fonts/Mulish-Light.woff2') format('woff2'),
        url('../fonts/Mulish-Light.woff') format('woff'),
        url('../fonts/Mulish-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    margin: 0;
    padding: 0;
    margin-top: 84px;
    font-family: 'Mulish',sans-serif;
    font-weight: normal;
}
.container{
    width: 1157px;
    margin: 0 auto;
    padding: 0px 20px;
}
.blue-btn{
    padding: 20px 40px;
    background: #458FF6;
    border-radius: 55px;
    font-family: 'Mulish-bold';
    font-size: 18px;
    line-height: 60px;
    color: #FFF;
}
.blue-btn:hover{
    background: #fff;
    border: 1.4px solid #458FF6;
    color: #458FF6;
}
.white-btn{
    padding: 25px 50px;
    background: #fff;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    font-family: 'Mulish-bold';
    font-size: 18px;
    line-height: 60px;
    color: #458FF6;
}
.white-btn:hover{
    background: #458FF6;
    border: 1.4px solid #333;
    color: #fff;
}
.vertical-black-line{
    width: 56px;
    height: 2px;
    background: black;
    border-radius: 10px;
}
.vertical-white-line{
    width: 56px;
    height: 2px;
    background: #fff;
    border-radius: 10px;
}
.logo-hover:hover{
    opacity: 0.8;
}
.logo-hover:active{
    opacity: 0.6;
}
/* HEADER */
.site-header{
    padding:20px 0px;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-items{
    display: flex;
    margin: 0;
    padding: 0;
}
.header-item + .header-item{
    margin: 0;
    padding: 0;
    margin-left: 40px;
}
.header-item a{
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
}
.header-item a:hover{
    opacity: 0.8;
}
.header-item a:active{
    color: #458FF6;
}
.header-item:first-child a{
    font-family: 'Mulish-bold';
    opacity: 1;
}
/* MAIN */
.healthcare-container{
    width: 1287px;
    margin: 0 auto;
    padding: 0px 20px;
}
.healthcare{
    padding: 80px 0px;
}
.healthcare-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.healthcare-text-box{
    width: 445px;
    margin-left: 65px;
}
.healthcare-text-box h1{
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-size: 48px;
    line-height: 56px;
}
.healthcare-text-box p{
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
    font-family: 'Mulish-light';
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
}
.healthcare-background-image{
    width: 693px;
    height: 598px;
    background-image: url("../images/illustration.png");
    background-size:cover;
}
/* OUR SERVICES */
.services{
    padding: 80px 0px;
}
.services-container{
    width: 1160px;
    margin: 0 auto;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 78px;
}
.services-text-box h2{
    margin: 0;
    padding: 0;
    margin-bottom: 26px;
    font-size: 36px;
    line-height: 56px;
}
.services-text-box span{
    margin-bottom: 33px;
}
.services-text-box p{
    margin: 0;
    padding: 0;
    width: 952px;
    font-family: 'Mulish-light';
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #7D7987;
}
.services-card{
    display: inline-block;
    margin-bottom: 70px;
}
.services-items{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin: -17.5px;
}
.services-item{
    margin: 0;
    padding: 0;
    width: 350px;
    padding: 45px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    margin: 17.5px;
}
.services-imgbox{
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.services-imgbox img{
    margin-bottom: 20px;
}
.services-item h3{
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
    font-size: 24px;
    line-height: 56px;
}
.services-item p{
    margin: 0;
    padding: 0;
    font-family: 'Mulish-light';
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}
/* Leading healthcare providers */
.leading{
    padding-top: 80px;
    padding-bottom: 115px;
}
.leading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1287px;
    margin: 0 auto;
    padding: 0px 20px;
}
.leading-background-image{
    width: 650px;
    height: 477px;
    background-image: url("../images/trafalgar-illustration-center.png");
    background-size:cover;
}
.leading-text-box{
    width: 450px;
    display: flex;
    flex-direction: column;

}
.leading-text-box h2{
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 56px;
}
.leading-text-box span{
    margin-bottom: 30px;
}
.leading-text-box p{
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    font-family: 'Mulish-light';
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}
/* Download our mobile apps */
.download{
    padding-top: 115px;
    padding-bottom: 130px;
}
.download-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1196px;
    margin: 0 auto;
    padding: 0px 20px;
}
.download-text-box{
    width: 390px;
    display: flex;
    flex-direction: column;

}
.download-text-box h2{
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 48px;
}
.download-text-box span{
    margin: 30px 0px;
}
.download-text-box p{
    margin: 0;
    padding: 0;
    margin-bottom:40px;
    font-family: 'Mulish-light';
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}
.download-background-image{
    width: 665px;
    height: 434px;
    background-image: url("../images/app-illustration-center.png");
    background-size:cover;
}
/* Commentaries */
.commentaries{
    padding-top: 130px;
    padding-bottom: 140px;
}
.commentaries-container{
    width: 1140px;
    margin: 0 auto;
    padding: 0px 20px;
}
.commentary{
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    color: #fff;
}
.commentary-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 33px;
}
.commentary-title h2{
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 48px;
}
.humans-commentary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 115px 80px 120px;
}
.person-sentence{
    display: flex;
    align-items: center;
}
.person-sentence img{
    margin-right: 30px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.person-sentence h3{
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 48px;
}
.person-sentence h3 span{
    font-size: 18px;
    line-height: 48px;
    color: rgba(255, 255, 255, 0.85);
}
.commentaries-desc{
    display: inline-block;
    width: 420px;
    margin: 0;
    padding: 0;
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
}
/* Check out our latest article */
.article{
    padding-top: 140px;
    padding-bottom: 200px;
}
.article-title{
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 56px;
}
.services-container span{
    margin-bottom: 75px;
}
.article-items{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin: -17.5px;
    margin-bottom: 70px;
}
.article-item{
    width: 350px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    margin: 17.5px;
}
.article-picture{
    margin-bottom: 20px;
}
.article-item h3{
    margin: 0;
    padding: 0;
    margin: 0 50px 12px 30px;
    font-size: 21px;
    line-height: 32px;
}
.article-item p{
    margin: 0;
    padding: 0;
    margin: 0 50px 25px 30px;
    font-family: 'Mulish-light';
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}
.article-link{
    display: flex;
    align-items: center;
    margin: 0 50px 35px 30px;
}
.article-link a{
    margin-right: 5px;
    font-family: 'Mulish-sami-bold';
    font-size: 17px;
    line-height: 28px;
    color: #4089ED;
}
.article-link a:hover{
    opacity: 0.6;
}
/* FOOTER */
.footer{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 110px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    color: #fff;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text-box{
    width: 390px;
}
.footer-text-box p{
    margin: 0;
    padding: 0;
    margin: 17px 5px 31px 0;
    font-family: 'Mulish-light';
    font-size: 18px;
    line-height: 28px;
}
.footer-text-box span{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}
/* ------------------- */
.footer-list-wrapper{
    width: 635px;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 60px;
}
.footer-items{
    margin: 0;
    padding: 0;
}
.footer-item a{
    font-family: 'Mulish-light';
    font-size: 18px;
    line-height: 38px;
    color: #fff;
}
.footer-item a:hover{
    text-decoration: underline #fff;
}
